
*.o
*.out
*.exe
*.dll
*.so
*.dylib
*.docx
*.pdf

# Игнорировать файлы, созданные компилятором
*.obj
*.vcxproj
*.filters
*.sln
*.ipch
*.db
*.lock
*.vsidx
*.zip

# Игнорировать файлы, созданные препроцессором
*.i
*.ii

# Игнорировать файлы конфигурации проекта
*.config
*.ini

# Игнорировать файлы, созданные системой сборки
build/
bin/
Debug/
Release/
*.sdf
*.suo
*.user
*.user.*

# Игнорировать временные/временные файлы
*.tmp
*.temp
*.log
*.bak
*.cache

# Игнорировать файлы среды разработки VS Code
.vscode/

# Игнорировать файлы Mac OS
.DS_Store

# Игнорировать файлы для автоматической генерации документации
docs/
html/