<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Добавить</h1>
<!--<form th:action="@{/addUser}"
      th:object="${user}" method="POST">

    <p>login:
        <input type="text" th:field="*{login}" />
    </p>
    <p> password:
        <input type="text" th:field="*{password}" />
    </p>
    <p> email:
        <input type="text" th:field="*{email}" />
    </p>
    <input class ="button-main-page" type="submit" value="Add" />
</form>


<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>-->

</body>
</html>